.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.btn[disabled] {
  background-color: oklch(0.65 0.06 203.99 / 1) !important;
  color: #cfe0d7 !important;
}
